
@import "bootstrap-sprockets";
@import "bootstrap";


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



#logo {
	font-size: 40px;
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: 5px;
	padding: 50px 0;
	a {
		color: #04B4AE;
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.post {
		padding: 2em 1em;
		border-bottom: 10px solid #FE2E9A;
		.title {

			a {
				color: #FE2E9A;
			}
		}
	}
	.comments_title {
		margin-top: 20em;
	}
	#comments {
		.comment {
			padding: 10em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}